{% extends "base.html" %}

{% block content %}

  <form method="post" action="#">
      {{ form.csrf_token }}
      <div class="form-group">
      {{ form.name.label(class="form-control-label") }}
      {{ form.name(class="form-control") }}
      {% if form.name.errors %}
        {% for error in form.name.errors %}
          <small><font color="red">{{ error }}</font></small>
        {% endfor %}
      {% endif %}
      </div>
      <div class="form-group">
      {{ form.email.label(class="form-control-label") }}
      {{ form.email(class="form-control") }}
      {% if form.email.errors %}
        {% for error in form.email.errors %}
          <small><font color="red">{{ error }}</font></small>
        {% endfor %}
      {% endif %}
      </div>
      <div class="form-group">
      {{ form.body.label(class="form-control-label") }}
      {{ form.body(class="form-control", rows="5") }}
      {% if form.body.errors %}
        {% for error in form.body.errors %}
          <small><font color="red">{{ error }}</font></small>
        {% endfor %}
      {% endif %}
      </div>
      {{ form.submit }}
  </form>

{% endblock %}
