.card-img-top {
    height: 300px;
    width: auto;
}


/* .sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.author {
    margin-top: 20px;
    float: left;
}

.puslapiai{
    margin-top: 100px;
    float: left;
}

.search_field{
    margin-top: 20px;
} */

/* .card {
    display: inline-block;
    height: 300px;
    margin-right: 15px;
    margin-bottom: 15px;    
} */

/* .col-sm-2 {
    height: 2000px;
} */